@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}


.paige-container {

    display: flex;

}


* h1 {

    font-size: 76px;
    font-family: "Inter";
    font-weight: normal;
    margin-bottom: 16px;
}

.inpt {
    padding: 18px;
    border: none;
    background-color: #f7f9fb;
    border-radius: 10px;
    width: 377px;
    margin-bottom: 16px;

}

.btn {

    background-color: black;
    padding: 18px;
    width: 377px;
    border-radius: 10px;
    color: white;
    border: none;

}



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;

}

.logo {

    height: 60px;
}

.robo-image {

    width: 50vw;
    height: 100vh;

    background-image: url(../assets/imgs/Sidebar.png);
    background-size: cover;


}

/* Pagina 2 */

.container2 {
    display: flex;

}

.chats {
    width: 17vw;
    height: 100vh;
    /* margin: 20px; */
    background-color: pink;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #ccc;

}

.New-chat {
    background-color: black;
    padding: 12px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 17vw;
    margin: 20px;
    font-size: 18px;
    /* gap: 4px; */

}

.chat1 {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    display: flex;
    justify-content: center;

    /* gap: 4px; */

}



.chat2 {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;

    display: flex;
    justify-content: center;
    /* gap: 8px; */


}


.container3 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: auto;
    
    
    background-color: pink;
    padding: 50px;
    width: 83vw;
    /* height: 15vh; */




}


.typemessage {
    align-items: center;
    width: 50vw;
    height: 5vh;
    border: nome;
    border-radius: 16px;
    border-color: pink;
    background-color: #F7F9FB;
    display: flex;


}

.contexto {
    display: flex;
    flex-direction: column;


}

.logo2 {

    width: 30vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela {

    width: 50vw;
    height: 25vh;


}

.tabela th {
    font-size: 18px;
    padding: 20px;
    background-color: #F7F9FB;


}

.tabela td {

    padding: 20px;
    margin: 10px;
    border: nome;
    border-radius: 8px;
    background-color: #F7F9FB;
    border-color: pink;

}